<header role="banner" id="fh5co-header">
  <div class="container">
    <!-- <div class="row"> -->
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <!-- Mobile Toggle Menu Button -->
      <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
            <a class="navbar-brand" href="index.html">Prijen Khokhani</a> 
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#" data-nav-section="home"><span>Home</span></a></li>
            <li><a href="#" data-nav-section="about"><span>About</span></a></li>
            <li><a href="#" data-nav-section="projects"><span>Projects</span></a></li>
            <li><a href="#" data-nav-section="features"><span>Features</span></a></li>
            <li><a href="#" data-nav-section="testimonials"><span>Testimonials</span></a></li>
            <li><a href="#" data-nav-section="pricing"><span>Pricing</span></a></li>
            <li><a href="#" data-nav-section="press"><span>Press</span></a></li>
          </ul>
        </div>
      </nav>
    <!-- </div> -->
  </div>
</header>
<div id="slider" data-section="home">
  <div class="owl-carousel owl-carousel-fullwidth">
    <!-- You may change the background color here. -->
      <div class="item" style="background: #352f44;">
        <div class="container" style="position: relative;">
          <div class="row">
            <div class="col-md-7 col-sm-7">
              <div class="fh5co-owl-text-wrap">
                <div class="fh5co-owl-text">
                  <h1 class="fh5co-lead to-animate">Case Study Title</h1>
                <h2 class="fh5co-sub-lead to-animate">100% Free Fully Responsive HTML5 Bootstrap Template. Crafted with love by the fine folks at <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a></h2>
                <p class="to-animate-2"><a href="#" class="btn btn-primary btn-lg">View Case Study</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-md-push-1 col-sm-4 col-sm-push-1 iphone-image">
              <div class="iphone to-animate-2"><img src="assets/images/iphone-2.png" alt="Free HTML5 Template by FREEHTML5.co"></div>
            </div>

          </div>
        </div>
      </div>
    <!-- You may change the background color here.  -->
      <div class="item" style="background: #38569f;">
        <div class="container" style="position: relative;">
          <div class="row">
            <div class="col-md-7 col-md-push-1 col-md-push-5 col-sm-7 col-sm-push-1 col-sm-push-5">
              <div class="fh5co-owl-text-wrap">
                <div class="fh5co-owl-text">
                  <h1 class="fh5co-lead to-animate">Case Study Title</h1>
                <h2 class="fh5co-sub-lead to-animate">100% Free Fully Responsive HTML5 Bootstrap Template. Crafted with love by the fine folks at <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a></h2>
                <p class="to-animate-2"><a href="#" class="btn btn-primary btn-lg">View Case Study</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-md-pull-7 col-sm-4 col-sm-pull-7 iphone-image">
              <div class="iphone to-animate-2"><img src="assets/images/iphone-1.png" alt="Free HTML5 Template by FREEHTML5.co"></div>
            </div>

          </div>
        </div>
      </div>

      <div class="item" style="background-image:url(assets/images/slide_5.jpg)">
        <div class="overlay"></div>
        <div class="container" style="position: relative;">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <div class="fh5co-owl-text-wrap">
                <div class="fh5co-owl-text">
                  <h1 class="fh5co-lead to-animate">Grab it now for free!</h1>
                <h2 class="fh5co-sub-lead to-animate">100% Free Fully Responsive HTML5 Bootstrap Template. Crafted with love by the fine folks at <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a></h2>
                <p class="to-animate-2"><a href="http://freehtml5.co/" target="_blank" class="btn btn-primary btn-lg">Download This Template</a></p>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>
<div id="fh5co-about-us" data-section="about">
  <div class="container">
    <div class="row row-bottom-padded-lg" id="about-us">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">About</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 to-animate">
            <h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
          </div>
        </div>
      </div>
      <div class="col-md-8 to-animate">
        <img src="assets/images/me.png" class="img-responsive img-rounded" alt="Free HTML5 Template">
      </div>
      <div class="col-md-4 to-animate">
        <h2>How we got started</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. </p>
        <p>It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day.</p>
        <p><a href="#" class="btn btn-primary">Meet the team</a></p>
      </div>
    </div>
    <div class="row" id="team">
      <div class="col-md-12 section-heading text-center to-animate">
        <h2>Experience</h2>
      </div>
      <div class="col-md-12">
        <div class="row row-bottom-padded-lg">
          <div class="col-md-4 text-center to-animate">
            <div class="person">
              <img src="assets/images/crest.png" class="img-responsive img-rounded" alt="Person">
              <h3 class="name"><a href="https://www.crestdatasys.com/">Crest Data Systems</a></h3>
              <div class="position">SDE Intern<br>Dec 2020 - Present
              </div>
              
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
              <ul class="social social-circle">
                <li><a href="https://twitter.com/crestdatasys"><i class="icon-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/company/crest-data-systems"><i class="icon-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 text-center to-animate">
            <div class="person">
              <img src="assets/images/technoapp.png" class="img-responsive img-rounded" alt="Person">
              <h3 class="name"><a href="http://technoappsolution.com/">Technoapp Solutions</a></h3>
              <div class="position">Android development, Intern<br>May 2019 - June 2019</div>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
              <ul class="social social-circle">
                <li><a href="#"><i class="icon-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/company/technoappsolution"><i class="icon-linkedin"></i></a></li>
                
              </ul>
            </div>
          </div>
          <div class="col-md-4 text-center to-animate">
            <div class="person">
              <img src="assets/images/malgadi.jpg" class="img-responsive img-rounded" alt="Person">
              <h3 class="name"><a href="http://malgadi.co.in/">Malgadi - Ecommerce Platform</a></h3>
              <div class="position">Technical Team<br>May 2019 - May 2020</div>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
              <ul class="social social-circle">
                <!-- <li><a href="#"><i class="icon-twitter"></i></a></li> -->
                <li><a href="https://www.linkedin.com/company/malgadi"><i class="icon-linkedin"></i></a></li>
                <!-- <li><a href="#"><i class="icon-instagram"></i></a></li> -->
                <li><a href="https://github.com/parthshahk/Books"><i class="icon-github"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="fh5co-our-services" data-section="projects">
  <div class="container">
    <div class="row row-bottom-padded-sm">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">Projects</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 to-animate">
            <h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="box to-animate">
          <div class="icon colored-1"><span><i class="icon-birthday-cake"></i></span></div>
          <h3><a href="https://play.google.com/store/apps/details?id=com.stl.birthdayreminder">Birthday Reminder</a></h3>
          <b class="colored-2">Android, Firebase, Sqlite</b>
          <p>An android application in which user can save all birthdays and anniversary in this  app and get notify on that particular day, a week before of that date and can make it special.</p>
          <div class="single-animate animate-features-3">
            <a href="https://github.com/STOL7/Birthdayreminder" class="btn btn-primary btn-block">Source Code</a>
          </div>
        </div>
        <div class="box to-animate">
          <div class="icon colored-4"><span><i class="icon-book-open"></i></span></div>
          <h3><a href="https://play.google.com/store/apps/details?id=pk.com.example.abc.engineering_books">Engineering Library</a></h3>
          <b class="colored-2">Android, Sqlite</b>
          <p>An android application from which students or anyone can read books from anywhere,anytime.</p>
          <div class="single-animate animate-features-3">
            <a href="https://github.com/STOL7/Engineering_Library" class="btn btn-primary btn-block">Source Code</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box to-animate">
          <div class="icon colored-2"><span><i class="icon-dashboard"></i></span></div>
          <h3><a href="">Shiv - Chula Dhosa</a></h3>
          <b class="colored-2">Php, Mysql</b>
          <p>This is web app which I have made for client as per requiement. It has functionality like manage table, manage order, manage item, print bill, year-month wise analysis etc. </p>
          <div class="single-animate animate-features-3">
            <a href="#" class="btn btn-primary btn-block">Source Code</a>
          </div>
        </div>
        <div class="box to-animate">
          <div class="icon colored-5"><span><i class="icon-desktop"></i></span></div>
          <h3><a href="https://github.com/STOL7/end2End">end2End - freelancing</a></h3>
          <b class="colored-2">MEAN Stack</b>
          <p>A freelancing web for both employee and employeer side. Used MEAN stack technology.</p>
          <div class="single-animate animate-features-3">
            <a href="https://github.com/STOL7/end2End" class="btn btn-primary btn-block">Source Code</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box to-animate">
          <div class="icon colored-3"><span><i class="icon-book"></i></span></div>
          <h3><a href="https://github.com/STOL7/Billify">Billify</a></h3>
          <b class="colored-2">Android, Firebase, Sqlite</b>
          <p>An app in which user can add bill of expences, can split equally or non-equally with friends.It has online syncup so that changes from one friend, reflect to other.</p>
          <div class="single-animate animate-features-3">
            <a href="https://github.com/STOL7/Billify" class="btn btn-primary btn-block">Source Code</a>
          </div>
        </div>
        <div class="box to-animate">
          <div class="icon colored-6"><span><i class="icon-code"></i></span></div>
          <h3><a href="https://github.com/STOL7/QuickExam">Examportal</a></h3>
          <b class="colored-2">MEAN Stack</b>
          <p>An online exam system which is useful to both teacher and student.Used MEAN stack technology.</p>
          
          <div class="single-animate animate-features-3">
            <a href="https://github.com/STOL7/QuickExam" class="btn btn-primary btn-block">Source Code</a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<footer id="footer" role="contentinfo">
  <div class="container">
    <div class="row row-bottom-padded-sm">
      <div class="col-md-12">
        <p class="copyright text-center">&copy; 2021 Free <a href="index.html">Prijen Khokhani</a>. <br>All Rights Reserved.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="social social-circle">
          <li><a href="https://twitter.com/KhokhaniP"><i class="icon-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/profile.php?id=100007160949781"><i class="icon-facebook"></i></a></li>
          <li><a href="https://github.com/STOL7"><i class="icon-github"></i></a></li>
          <li><a href="https://www.linkedin.com/in/prijen-khokhani-64090a171/"><i class="icon-linkedin"></i></a></li>
          <li><a href="https://www.instagram.com/khokhani_77/"><i class="icon-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<div id="colour-variations">
  <a class="option-toggle"><i class="icon-gear"></i></a>
  <h3>Preset Colors</h3>
  <ul>
    <li><a href="javascript: void(0);" data-theme="style"></a></li>
    <li><a href="javascript: void(0);" data-theme="pink"></a></li>
    <li><a href="javascript: void(0);" data-theme="blue"></a></li>
    <li><a href="javascript: void(0);" data-theme="turquoise"></a></li>
    <li><a href="javascript: void(0);" data-theme="orange"></a></li>
    <li><a href="javascript: void(0);" data-theme="lightblue"></a></li>
    <li><a href="javascript: void(0);" data-theme="brown"></a></li>
    <li><a href="javascript: void(0);" data-theme="green"></a></li>
  </ul>
</div>

<script>
	$(function(){
		$('#colour-variations ul').styleSwitcher({
			defaultThemeId: 'theme-switch',
			hasPreview: false,
			cookie: {
	          	expires: 30,
	          	isManagingLoad: true
	      	}
		});	
		$('.option-toggle').click(function() {
			$('#colour-variations').toggleClass('sleep');
		});
	});
	</script>
